<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogImporter.Properties.Settings.WebLogs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WebLogs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LogImporter.Properties.Settings.ImportDriver" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};dbq=.;extensions=csv"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>